<template name="dataTable">
  <div class="display" cellspacing="0" width='100%' >
    <table>
      <tr>
        <th>Name</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>url</th>
        <th>_id</th>
        <th>tel</th>
        <th>region</th>
        <th>Yelp ?</th>
        <th>factual_id</th>
      </tr>
        {{#each markers}}
          <tr>
            <td>
                {{name}}
            </td>
            <td>{{lat}}</td>
            <td>{{lng}}</td>
            <td>{{url}}</td>
            <td>{{_id}}</td>
            <td>{{tel}}</td>
            <td>{{region}}</td>
            <td>{{yelp}}</td>
            <td>{{factual_id}}</td>
          </tr>
          {{/each}}
    </table>
  </div>
</template>






<template name="markerItem">
  <div class="marker">
    <div class="marker-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{url}}</span></h3>
    </div>
  </div>
</template>